* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
    --marfim: #E6DFD9;
    --marfim-escuro: #BFB3A8;
    --marrom: #736A63;
    --marrom-forte: #452C00;
    --verde: #698C8C;
    --cinza: #C7D1D9;
    --branco-papel: #F2F2F2;
    --verde00: #75d5c2;
    --verde01: #63b6a5;
    --verde-02: #589A8D;
    --verde-03: #4d776f;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}


header {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;

}

header nav {
    box-shadow: black 4px 4px 20px;
}

main {
    display: flex;
    flex-direction: column;
    width: 80%;
}

footer {
    width: 100%;
}

#logo {
    font-size: 26px;
    margin: 0 15px;
    color: white;
}

.nav-link {
    color: white;
    border-radius: 20%;
    font-size: 20px;
}

.nav-link:hover {
    color: #D18400;
    text-shadow: 30px;

}

.introduction {
    height: 100vh;
    width: 100%;
    background-image: url('/img/fundo-capa.jpg');
    background-size: cover;
    /* Cobrir toda a área do elemento */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    align-items: center;
    margin: auto;
    text-align: justify;
    font-size: large;
    color: white
}


#sobre {
    width: 80%;
    background: linear-gradient(var(--verde01), var(--verde-02), var(--verde-03));
    display: flex;
    flex-direction: row;
    margin: auto;
    font-size: large;
    color: white;
    border-radius: 20px;
    box-shadow: black 5px 10px 15px;
    padding: 2%;
}

#perfil {
    width: 30%;
    margin: auto;
}

#perfil img {
    border-radius: 50%;
    width: 300px;
    margin-left: 3em;
    margin: auto;
}

#sobre-perfil {
    width: 50%;
    margin: auto;


}


@keyframes escrevendo {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.efeito-escrevendo {
    overflow: hidden;
    /* Para ocultar o texto extra enquanto escreve */
    white-space: nowrap;
    /* Para garantir que o texto não quebre para a próxima linha */
    animation: escrevendo 3s steps(60) infinite alternate;
    /* Ajuste a duração conforme necessário */
    font-size: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;

}

#servicos {
    padding-top: 30px;
    background-color: var(--branco-papel);
    padding-bottom: 5%;
}

.service-img {
    border-radius: 15px;
    margin: 30px auto;
}

#apresentation {
    background-color: var(--marrom-forte);
    width: 60%;
    padding: 0.5%;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: black 4px 4px;

}

#apresentation h1 {
    margin-left: 7%;
    color: var(--branco-papel);
}

#intro-services {
    width: 75%;
    background-color: white;
    padding: 30px;
    margin-left: 5%;
    margin-bottom: 40px;
    box-shadow: var(--marfim-escuro) 6px 6px;
    font-size: 1.33rem;
    text-align: justify;

}

#citacao {
    font-size: 1.45rem;
    color: #201a14;
    text-align: right;
}

.column {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    max-width: 375px;
    background-color: var(--branco-papel);
    margin: auto;

}

.column-img {
    margin: 20px auto;

}

.subtitulo {
    color: #452C00;
    font-weight: 600;
    text-align: center;
}

.paragrafo {
    font-size: 21px;
    text-align: justify;
}

#carousel {
    background-color: #452c00;
    height: 340px;
    overflow: hidden;

}

#carouselExample {
    width: 90%;
    margin: auto;
    overflow: hidden;

}

#apresentation2 {
    background-color: var(--verde-03);
    width: 60%;
    padding: 0.5%;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: black 4px 4px;
    color: white;

}

#vantagens {
    padding-top: 20px;
    width: 85%;

}

#p-vantagens {
    margin-left: 40px;
}


#list {
    font-size: 21px;
    margin-left: 30px;
    border-bottom: var(--marrom-forte) 1px 1px;
}

#list li {
    font-size: 21px;
    padding: 5px;
}

#contatos {
    width: 80%;
    background: linear-gradient(var(--verde01), var(--verde-02), var(--verde-03));
    display: flex;
    flex-direction: row;
    margin: auto;
    font-size: large;
    color: white;
    border-radius: 2px;
    padding: 2%;
}


#contatos img {
    height: 18em;
}

#formulario {
    display: block;
    text-align: center;
    margin: auto;
    width: 30%;
}

#formulario input,
#formulario textarea {
    display: block;
    margin-bottom: 1em;
    width: 100%;
    padding: 0.2em;
    resize: none;
    border-radius: 0.5em;
    border: none;
}

#formulario button {
    display: block;
    padding: 0.2em 1em;
    border: none;
    cursor: pointer;
    border: solid 1px rgba(0, 0, 0, 0.349);
    border-radius: 0.5em;
}

#formulario button:hover {
    background-color: #030303;
    color: #fff;
}

/* efeitos da sessão contatos */
.animar {
    opacity: 0;
    transition: all 2s;
    transform: translateX(100%);
}

.aparecer-animar {
    opacity: 1;
    transition: all 3s;
    transform: translateX(0);
}

#contatos :nth-child(2){
    transition-delay: 1s;
}
#contatos :nth-child(3){
    transition-delay: 2s;
}

#localizacao {
    margin: 1em auto;
}

#localizacao ul {
    display: flex;
    padding: 0;
    list-style: none;
}

#localizacao li {
    margin-right: 1em;
}

/* #localizacao p {
    margin-top: 3em;
    margin-bottom: 3em;
} */

.icons {
    font-size: 3rem;
}

#localizacao a {
    color: white;
    text-decoration: none;
}





/*----------------- Mobile Configurations ----------------*/

@media only screen and (max-width: 600px) {
    #sobre {
        flex-direction: column;
        max-height: 70vh;
    }

    #contatos {
        flex-direction: column;
        /* Altera a direção do flex container para coluna */
    }

    #formulario {
        width: 100%;
        /* Ocupa 100% da largura da tela em telas menores */
    }

}