* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif; 
}

.nav-list a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: rgba(255, 255, 255, 0.418);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
    --marfim: #E6DFD9;
    --marfim-escuro: #BFB3A8;
    --marrom: #736A63;
    --marrom-forte: #452C00;
    --verde: #698C8C;
    --cinza: #C7D1D9;
    --branco-papel: #F2F2F2;
    --verde00: #75d5c2;
    --verde01: #63b6a5;
    --verde-02: #589A8D;
    --verde-03: #015958;
}

body {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--verde-03);
    width: 100%;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

main {
    display: flex;
    flex-direction: column;
    width: 80%;
}

footer {
    width: 100%;
}

#visual{
    width: 18vh;
}
#aba{
    margin-left: -53%;
    background-color: var(--verde-03);
    width: 37vh;
    height: 25vh;
    position: absolute;
    border-radius: 13%;
    align-items: center;
    display: flex;
    justify-content: center;

}
#aba img{

    width: 25vh;
    margin-top: 7vh;
}
#test{
    position: absolute;
    width: 28vh;
    margin-left: 43.5%;
    margin-top: -42%;
    opacity: 100%;

}

.nav-list {
    list-style: none;
    color: white;
    display: flex;
    cursor: pointer;
}

.nav-list li {
    letter-spacing: 3px;
    margin-top: 5%;
    margin-left: 32px;
    font-size: larger;
}

.nav-list li:hover {
    color: rgba(255, 255, 255, 0.458);
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

.introduction {
    height: 90vh;
    background-image: url("/img/f2.jpg");
    background-size: cover;
    background-size: cover;
    /* Cobrir toda a área do elemento */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    align-items: center;
    margin: auto;
    text-align: justify;
    font-size: large;


}


#sobre {
    width: 70%;
    height: 55vh;
    background-color: var(--branco-papel);
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    color: var(--marrom-forte);
    box-shadow: black 5px 10px 15px;
}

#perfil {
    width: 30%;
    margin: auto;
    border-radius: 50%;
    width: 45vh;
    margin-left: 3em;
    margin: auto;
    transform: scaleX(-1);
}

#sobre-perfil {
    width: 50%;
    margin: auto;


}
#sobre-perfil p{
    font-size: 2.7vh;
}


@keyframes escrevendo {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

  .efeito-escrevendo {
    overflow: hidden; /* Para ocultar o texto extra enquanto escreve */
    white-space: nowrap; /* Para garantir que o texto não quebre para a próxima linha */
    animation: escrevendo 3s steps(60) infinite alternate; /* Ajuste a duração conforme necessário */
    font-size: 7.5vh;
    color: var(--marrom-forte);
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;

}

#servicos {
    padding-top: 30px;
    background-color: var(--branco-papel);
    padding-bottom: 5%;
}

#scope-service img {
    width: 275px;
    height: 375px;
    border-radius: 15px;

}

#apresentation {
    background-color: var(--verde-03);
    width: 60%;
    padding: 0.5%;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: black 4px 4px;

}

#apresentation h1 {
    margin-left: 7%;
    color: var(--branco-papel);
}

#intro-services {
    width: 65%;
    background-color: white;
    padding: 30px;
    margin-left: 5%;
    margin-right: 30px;
    margin-bottom: 40px;
    box-shadow: var(--marfim-escuro) 6px 6px;
    font-size: 1.22rem;
    text-align: justify;

}

#citacao {
    font-size: 1.45rem;
    color: #201a14;
    text-align: right;
}

.column {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    max-width: 375px;
    background-color: var(--branco-papel);
    margin: auto;

}

.column-img {
    margin: 20px auto;

}

.subtitulo {
    color: #452C00;
    font-weight: 600;
    text-align: center;
}

.paragrafo {
    font-size: 21px;
    text-align: justify;
}

#carousel {
    background-color: #015958;
    height: 45vh;
    overflow: hidden;

}

#carouserl {
    height: 10vh;
    width: 100vh;
}

#apresentation2 {
    background-color: var(--verde-03);
    width: 60%;
    padding: 0.5%;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: black 4px 4px;
    color: white;
}

#list{
    font-size: larger;
    margin-left: 30px;
    padding-bottom: 30px;

    
}
#list li{
    padding-top: 15px;
}
#apresentation2 h1{
    margin-left: 30px;
}

#vantagens {
    padding-top: 20px;
    width: 85%;

}

#p-vantagens {
    margin-left: 40px;
}

#img-pq {
    position: absolute;
    width: 375px;
    margin-left: 48%;
}

#contatos {
    width: 80%;
    background: linear-gradient(var(--verde01), var(--verde-02), var(--verde-03));
    display: grid;
    grid-template-columns: 26% 36% 36%;
    column-gap: 1%;
    row-gap: 1%;
    margin-bottom: 40px;
    margin: auto;
    font-size: large;
    color: white;
    border-radius: 2px;
    padding: 2%;
}

#contatos img {
    max-width: 100%;
}

.imagem-container {
    text-align: center;
}

.imagem-container img {
    display: inline-block;
}

#formulario {
    display: block;
    text-align: center;
    margin-top: 1em;
    width: 100%;
}

#formulario input,
#formulario textarea {
    display: block;
    margin-bottom: 1em;
    width: 100%;
    padding: 0.2em;
    resize: none;
    border-radius: 0.5em;
    border: none;
}

#formulario button {
    display: block;
    padding: 0.2em 1em;
    border: none;
    cursor: pointer;
    border: solid 1px rgba(0, 0, 0, 0.349);
    border-radius: 0.5em;
}

#formulario button:hover {
    background-color: #030303;
    color: #fff;
}

#localizacao {
    margin: 0.5em auto 0;
}

#localizacao p {
    margin: 2em 0 0;
}

#localizacao ul {
    display: flex;
    padding: 0;
    list-style: none;
    align-items: left;
    justify-content: none;
}

#localizacao li {
    margin-right: 1em;
}

.icons {
    font-size: 3rem;
}

#localizacao a {
    color: white;
    text-decoration: none;
}

/* animação da sessão contatos */
.animar {
    opacity: 0;
    transition: opacity 2s, transform 2s;
    transform: translateX(5%);
}

.aparecer-animar {
    opacity: 1;
    transition: opacity 3s, transform 3s;
    transform: translateX(0);
}

#contatos :nth-child(2) {
    transition-delay: 500ms;
}

#contatos :nth-child(3) {
    transition-delay: 1s;
}

#formulario p {
    margin-top: 2em;
    font-size: 0.8em;
    margin-bottom: 0;
}


/*----------------- Mobile Configurations ----------------*/

@media only screen and (max-width: 700px) {

    body {
        overflow: hidden;
    }

    header{
        overflow: hidden;
    }
    #sobre{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 66vh;
    }

    #sobre-perfil {
        margin-top: 0px;
        flex-direction: row;
        overflow: hidden;
        width: 80%;


    }

    #sobre-perfil p {
        font-size: 0.9rem;
    }

    #perfil {
        margin-top: 12%;
        width: 23vh;
        border-radius: 50%;
        margin-bottom: 0px;
        transform: none;
    }

    .efeito-escrevendo {
        margin-top: 12%;
        font-size: 25px;
    }

    main {
        width: 100%;
    }

    .column {

        margin-bottom: 10%;
    }

    #servicos {
        padding-top: 0px;

    }

    #intro-services {
        width: 90%;
        background-color: white;
        margin-left: 5%;
        margin-right: 30px;
        margin-bottom: 40px;
        box-shadow: var(--marfim-escuro) 6px 6px;
        font-size: small;
        text-align: justify;

    }

    #citacao {
        font-size: 1rem;
    }

    .service-img {
        width: 70%;
        margin-bottom: 5%;
    }

    .container p {
        width: 90%;
        font-size: small;
    }

    .subtitulo {
        font-size: large;
    }

    #carousel {
        height: 18vh;
    }

    #vantagens {
        margin: auto;
        padding-top: 0;
    }

    #p-vantagens {
        font-size: small;
        margin: 0;

    }

    .h-android {
        font-size: 1.2rem;
    }

    #list {
        width: 90%;
        margin: 0;
        padding: 5%;
    }

    #list li {
        font-size: small;
        margin: 0;
    }

    #img-pq {
        margin-top: 30%;
        margin-left: 50%;
        width: 37%;
    }


    /* configuração do menu lateral */
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 150px; /* Ajuste a largura conforme necessário */
        height: 90vw;
        background-color: #015958c7;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateY(-120%);
        transition: transform 0.3s ease-in;
        overflow: hidden;
 
    }

    .nav-list.active {
        transform: translateX(0%);
    }

    .nav-list li {
        margin-left: 0;
        margin-right: 30px;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
        }
    }

    #contatos {
        width: 100%;
        display: grid;
        grid-template-columns: 40% 60%;
        column-gap: 0%;
        row-gap: 0;
    }

    #contatos img {
        max-width: 100%;
    }

    .icons {
        font-size: 2rem;
    }

    #formulario {
        margin: 0 auto;
        width: 90%;
        grid-column: span 2;
        overflow: hidden;
        order: 3;
    }

    #formulario p {
        margin-top: 2em;
        font-size: 0.8em;
        margin-bottom: 0;
    }

    .imagem-container {
        display: flex;
        align-items: center;
        justify-content: center;
        order: 1;
    }

    #localizacao {
        margin: 1em;
        max-width: 100%;
        order: 2;
    }

    #localizacao p {
        margin: 1em 0;
        font-size: 0.8em;
    }

    #localizacao h2 {
        margin-bottom: 1em;
        font-size: 1.5em;
    }

    #localizacao ul {
        text-align: left;
    }

    #localizacao ul li {
        margin: 0 4%;
    }
}